<!DOCTYPE html>
<div class="column is-8 is-offset-2">
  <div class="field">
    <h2 class="title">Log your dive! </h2>
    <form name="logsEdit.editForm" ng-submit="logsEdit.update()">
      {{ logsEdit.log.dive_site}}

      <div class="field">
        <label for="date">Date of dive:</label>
        <p class="control has-icons-left">
          <input class="input" type="date" name="date" id="date" ng-model="logsEdit.log.date" required>
          <span class="icon is-medium is-left">
            <i class="fa fa-id-card-o"></i>
          </span>
          <div ng-messages="logsEdit.editForm.date.$error" role="alert" ng-show="(logsEdit.editForm.$submitted || logsEdit.editForm.date.$touched) && logsEdit.editForm.date.$invalid" class="help is-danger">
            <div ng-message="required">A date is needed for this log</div>
          </div>
        </p>
      </div>

      <div class="field">
        <label for="date">What dive site did you dive?</label>
        <p class="control has-icons-left">
          <span class="select is-fullwidth">
            <select name="diveSite" id="diveSite" ng-model="logsEdit.log.dive_site_id" value="logsEdit.log.dive_site.id" required>
              <option ng-repeat="diveSite in logsEdit.diveSites" value="{{diveSite.id}}"> {{diveSite.name}} </option>
            </select>
          </span>
          <span class="icon is-medium is-left">
            <i class="fa fa-flag" aria-hidden="true"></i>
          </span>
          <div ng-messages="logsEdit.editForm.diveSite.$error" role="alert" ng-show="(logsEdit.editForm.$submitted || logsEdit.editForm.diveSite.$touched) && logsEdit.editForm.diveSite.$invalid" class="help is-danger">
            <div ng-message="required">Dive Site name is required, if site not listed please add it to our list</div>
          </div>
        </p>
      </div>

      <div class="field">
        <label for="date">How long was your dive in minutes?</label>
        <p class="control has-icons-left">
          <input class="input" type="number" name="diveTime" id="diveTime" ng-model="logsEdit.log.dive_time" min="0" max="360" placeholder="0" required > <span class="icon is-medium is-left">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
          </span>
          <div ng-messages="logsEdit.editForm.diveTime.$error" role="alert" ng-show="(logsEdit.editForm.$submitted || logsEdit.editForm.diveTime.$touched) && logsEdit.editForm.diveTime.$invalid" class="help is-danger">
            <div ng-message="required">Please record your dive time </div>
          </div>
        </p>
      </div>

      <div class="field">
        <label for="date">What dive gear did you use?</label>
        <p class="control has-icons-left">
          <input class="input" type="text" name="gear" id="gear" ng-model="logsEdit.log.gear" placeholder="Please seperate each piece of equipment with a comma" maxlength="150" required>
          <span class="icon is-medium is-left">
            <i class="fa fa-cog" aria-hidden="true"></i>
          </span>
          <div ng-messages="logsEdit.editForm.gear.$error" role="alert" ng-show="(logsEdit.editForm.$submitted || logsEdit.editForm.gear.$touched) && logsEdit.editForm.gear.$invalid" class="help is-danger">
            <div ng-message="required">Please tell us what equipment you used</div>
          </div>
        </p>
      </div>

      <div class="field">
        <label for="date">Comments (What did you see? Who were you with? What did you do? etc.)</label>
        <p class="control ">
          <textarea class="input" rows="4" name="comments" id="comments" ng-model="logsEdit.log.comments" placeholder="Tell us about your dive" minlength="2" maxlength="250" required>
          <span></span>
        </textarea>
          <div ng-messages="logsEdit.editForm.comments.$error" role="alert" ng-show="(logsEdit.editForm.$submitted || logsEdit.editForm.comments.$touched) && logsEdit.editForm.comments.$invalid" class="help is-danger">
            <div ng-message="required">Please tell us about your dive. Even if it's just to say you're still alive!</div>
          </div>
        </p>
      </div>

      <div class="field">
        <label for="date">What was the visibility like? (Metres)</label>
        <p class="control has-icons-left">
          <input class="input" type="text" name="visibility" id="visibility" ng-model="logsEdit.log.visibility" placeholder="Please enter this as a numerical value" required >
          <span class="icon is-medium is-left">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </span>
          <div ng-messages="logsEdit.editForm.visibility.$error" role="alert" ng-show="(logsEdit.editForm.$submitted || logsEdit.editForm.visibility.$touched) && logsEdit.editForm.visibility.$invalid" class="help is-danger">
            <div ng-message="required">Please tell us what equipment you used</div>
          </div>
        </p>
      </div>

      <div class="field">
        <label for="date">What was the water temperature like? (°C)</label>
        <p class="control has-icons-left">
          <input class="input" type="number" step="0.1" name="temperature" id="temperature" ng-model="logsEdit.log.temperature" placeholder="Please enter this as a numerical value">
          <span class="icon is-medium is-left">
            <i class="fa fa-thermometer-three-quarters" aria-hidden="true"></i>
          </span>
          <div ng-messages="logsEdit.editForm.temperature.$error" role="alert" ng-show="(logsEdit.editForm.$submitted || logsEdit.editForm.temperature.$touched) && logsEdit.editForm.temperature.$invalid" class="help is-danger">
            <div ng-message="required">Water temperature is required </div>
          </div>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
          <input class="input" base64 type="file" name="base64" id="image" ng-model="logsEdit.log.base64" placeholder="Image">
          <span class="icon is-medium is-left">
            <i class="fa fa-picture-o"></i>
          </span>
          <div ng-messages="logsNew.editForm.base64.$error" role="alert" ng-show="(logsEdit.editForm.$submitted || logsEdit.editForm.base64.$touched) && logsEdit.editForm.base64.$invalid" class="help is-danger">
            <div ng-message="required">Image is required.</div>
          </div>
        </p>
        <img ng-src="{{ logsEdit.log.base64 }}">
      </div>

      <div class="field newBottom">
        <p class="control">
          <button class="button is-info is-fullwidth">Edit</button>
        </p>
      </div>

    </form>
  </div>
</div>
