<!DOCTYPE html>
<div class="column is-8 is-offset-2">
  <div class="field">
    <h2 class="title">Edit your site</h2>
    <form name="diveSitesEdit.editForm" ng-submit="diveSitesEdit.update()">
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" base64 type="file" name="base64" id="image" ng-model="diveSitesEdit.site.base64" placeholder="Image">
          <span class="icon is-medium is-left">
            <i class="fa fa-picture-o"></i>
          </span>
          <div ng-messages="diveSitesEdit.editForm.base64.$error" role="alert" ng-show="(diveSitesEdit.editForm.$submitted || diveSitesEdit.editForm.base64.$touched) && tdiveSitesEdit.editForm.base64.$invalid" class="error">
            <div ng-message="required">Image is required.</div>
          </div>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="text" name="name" id="name" ng-model="diveSitesEdit.site.name" placeholder="Dive Site Name" required maxlength="30">
          <span class="icon is-medium is-left">
            <i class="fa fa-id-card-o"></i>
          </span>
          <div ng-messages="diveSitesEdit.editForm.name.$error" role="alert" ng-show="(diveSitesEdit.editForm.$submitted || diveSitesEdit.editForm.name.$touched) && diveSitesEdit.editForm.name.$invalid" class="error">
            <div ng-message="required">Dive site name is required.</div>
          </div>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
          <span class="select is-fullwidth">
            <select name="waterType" id="waterType" ng-model="diveSitesEdit.site.water_type" value="{{diveSitesEdit.site.water_type}}" required>
              <option>Fresh Water </option>
              <option>Salt Water</option>
            </select>
          </span>

          <span class="icon is-medium is-left">
            <i class="fa fa-tint" aria-hidden="true"></i>
          </span>
          <div ng-messages="diveSitesEdit.editForm.difficulty.$error" role="alert" ng-show="(diveSitesEdit.editForm.$submitted || diveSitesEdit.editForm.waterType.$touched) && diveSitesEdit.editForm.waterType.$invalid" class="error">
            <div ng-message="required">Water type is required.</div>
          </div>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="text" name="diveType" id="diveType" ng-model="diveSitesEdit.site.dive_type" placeholder="What kind of dive was it?" required maxlength="50">
          <span class="icon is-medium is-left">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
          </span>
          <div ng-messages="trailsNew.editForm.diveType.$error" role="alert" ng-show="(diveSitesEdit.editForm.$submitted || diveSitesEdit.editForm.diveType.$touched) && diveSitesEdit.editForm.diveType.$invalid" class="error">
            <div ng-message="required">Dive type is required</div>
          </div>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="text" name="country" id="country" ng-model="diveSitesEdit.site.country" placeholder="What is the nearest country to this site?" required maxlength="50">
          <span class="icon is-medium is-left">
            <i class="fa fa-flag" aria-hidden="true"></i>
          </span>
          <div ng-messages="diveSitesEdit.editForm.country.$error" role="alert" ng-show="(diveSitesEdit.editForm.$submitted || diveSitesEdit.editForm.country.$touched) && diveSitesEdit.editForm.country.$invalid" class="error">
            <div ng-message="required">Country is required</div>
          </div>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="number" name="maxDepth" id="maxDepth" ng-model="diveSitesEdit.site.max_depth" placeholder="What is the maximum depth at this site?">
          <span class="icon is-medium is-left">
            <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
          </span>
          <div ng-messages="diveSitesEdit.editForm.maxDepth.$error" role="alert" ng-show="(diveSitesEdit.editForm.$submitted || diveSitesEdit.editForm.maxDepth.$touched) && diveSitesEdit.editForm.maxDepth.$invalid" class="error">
            <div ng-message="required">Maximum depth is required</div>
          </div>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
          <h2>Click on the map to plot a Marker where your dive site is located. </h2>
        </p>
      </div>

      {{diveSitesEdit.site.lat}} {{diveSitesEdit.site.lng}}
      <google-map-edit center="{ lat: 51.526583, lng: -0.085656 }" lat="diveSitesEdit.site.lat" lng="diveSitesEdit.site.lng"></google-map-edit>

      <div class="field newBottom">
        <p class="control">
          <button class="button is-info is-fullwidth">Edit</button>
        </p>
      </div>

    </form>
  </div>
</div>
