<!DOCTYPE html>
<div class="column is-8 is-offset-2">
  <div class="field">
    <h2 class="title">Share your dive site with us!</h2>
    <form name="diveSitesNew.newForm" ng-submit="diveSitesNew.create()">

      <div class="field">
        <p class="control has-icons-left">
          <input class="input" base64 type="file" name="base64" id="image" ng-model="diveSitesNew.site.base64" placeholder="Image">
          <span class="icon is-medium is-left">
            <i class="fa fa-picture-o"></i>
          </span>
          <div ng-messages="diveSitesNew.newForm.base64.$error" role="alert" ng-show="(diveSitesNew.newForm.$submitted || diveSitesNew.newForm.base64.$touched) && tdiveSitesNew.newForm.base64.$invalid" class="error">
            <div ng-message="required">Image is required.</div>
          </div>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="text" name="name" id="name" ng-model="diveSitesNew.site.name" placeholder="Dive Site Name" required maxlength="30">
          <span class="icon is-medium is-left">
            <i class="fa fa-id-card-o"></i>
          </span>
          <div ng-messages="diveSitesNew.newForm.name.$error" role="alert" ng-show="(diveSitesNew.newForm.$submitted || diveSitesNew.newForm.name.$touched) && diveSitesNew.newForm.name.$invalid" class="error">
            <div ng-message="required">Dive site name is required.</div>
          </div>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
          <span class="select is-fullwidth">
            <select name="waterType" id="waterType" ng-model="diveSitesNew.site.water_type" required>
              <option disabled>Water Type</option>
              <option>Fresh Water </option>
              <option>Salt Water</option>
            </select>
          </span>
          <span class="icon is-medium is-left">
            <i class="fa fa-tint" aria-hidden="true"></i>
          </span>
          <div ng-messages="diveSitesNew.newForm.difficulty.$error" role="alert" ng-show="(diveSitesNew.newForm.$submitted || diveSitesNew.newForm.waterType.$touched) && diveSitesNew.newForm.waterType.$invalid" class="error">
            <div ng-message="required">Water type is required.</div>
          </div>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="text" name="diveType" id="diveType" ng-model="diveSitesNew.site.dive_type" placeholder="What kind of dive was it?" required maxlength="50">
          <span class="icon is-medium is-left">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
          </span>
          <div ng-messages="trailsNew.newForm.diveType.$error" role="alert" ng-show="(diveSitesNew.newForm.$submitted || diveSitesNew.newForm.diveType.$touched) && diveSitesNew.newForm.diveType.$invalid" class="error">
            <div ng-message="required">Dive type is required</div>
          </div>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="text" name="country" id="country" ng-model="diveSitesNew.site.country" placeholder="What is the nearest country to this site?" required maxlength="50">
          <span class="icon is-medium is-left">
            <i class="fa fa-flag" aria-hidden="true"></i>
          </span>
          <div ng-messages="diveSitesNew.newForm.country.$error" role="alert" ng-show="(diveSitesNew.newForm.$submitted || diveSitesNew.newForm.country.$touched) && diveSitesNew.newForm.country.$invalid" class="error">
            <div ng-message="required">Country is required</div>
          </div>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="number" name="maxDepth" id="maxDepth" ng-model="diveSitesNew.site.max_depth" placeholder="What is the maximum depth at this site?">
          <span class="icon is-medium is-left">
            <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
          </span>
          <div ng-messages="diveSitesNew.newForm.maxDepth.$error" role="alert" ng-show="(diveSitesNew.newForm.$submitted || diveSitesNew.newForm.maxDepth.$touched) && diveSitesNew.newForm.maxDepth.$invalid" class="error">
            <div ng-message="required">Maximum depth is required</div>
          </div>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
          <h2>Click on the map to plot a Marker where your dive site is located. </h2>
        </p>
      </div>

      <google-map-create center="{ lat: 51.526583, lng: -0.085656}" lat="diveSitesNew.site.lat" lng="diveSitesNew.site.lng"></google-map-create>

      <div class="field newBottom">
        <p class="control">
          <button class="button is-info is-fullwidth">Create</button>
        </p>
      </div>

    </form>
  </div>
</div>
