<!DOCTYPE html>

<div class="column is-10 is-offset-1">

  <google-map-show center="{ lat: 51.533309, lng: -0.105317 }"> </google-map-show>

  <h2 class="title showtitle">{{ diveSitesShow.site.name }}</h2>
  <div class="content">
    <p><strong>Max Depth: </strong>{{ diveSitesShow.site.max_depth }} Meters </p>
    <p><strong>Nearest Country: </strong>{{ diveSitesShow.site.country }} </p>
    <p><strong>Water type: </strong> This is a <strong>{{ diveSitesShow.site.water_type }}</strong> water dive</p>

    <div class="card-image">
      <figure>
        <img class="site-image" ng-src="{{ diveSitesShow.site.image_src }}" style="height: 300px; width: 400px" alt="site-image">
      </figure>
    </div>

    <button ui-sref="diveSitesEdit({ id: diveSitesShow.site.id })" class="button is-warning" ng-if="main.isAuthenticated() && (diveSitesShow.site.creator.id === main.currentUser.id)">Edit</button>

    <button ng-click="diveSitesShow.delete()" class="button is-danger" ng-if="main.isAuthenticated() && (diveSitesShow.site.creator.id === main.currentUser.id)">Delete</button>


      <div ng-repeat="log in diveSitesShow.site.logs">
        <div class="card has-shadow">
          <img class="log-image" ng-src="{{ log.image_src }}" style="height: 200px; width: 300px" alt="log-image">
          <h4 class="title">{{log.comments }}</h4>
          <p><strong>Date: </strong>{{log.date}}</p>
          <p><strong>Dive Time: </strong>{{log.dive_time}} minutes</p>
          <p><strong>Water temperature: </strong>{{log.temperature}} °C</p>
          <p><strong>Visibility: </strong>{{ log.visibility }} meters</p>
          <p><strong>Dive Equipment Used: </strong>{{ log.gear }}</p>


        </div>
      </div>
    </div>


</div>
