<!DOCTYPE html>



<div class="">








</div>

<!DOCTYPE html>

<div class="column is-10 is-offset-1">

  <google-map-show center="{ lat: 51.533309, lng: -0.105317 }"> </google-map-show>

  <h2 class="title showtitle">{{ diveSitesShow.site.name }}</h2>
  <div class="content">
    <p><strong>Max Depth: </strong>{{ diveSitesShow.site.max_depth }} Meters </p>
    <div class="card-image">
      <figure class="image is-128x128">
        <img ng-src="{{ diveSitesShow.site.image_src }}">
      </figure>
    </div>
    

    <hr>
    <button ui-sref="diveSitesEdit({ id: diveSitesShow.site.id })" class="button is-warning" ng-if="main.isAuthenticated() && (diveSitesShow.site.creator.id === main.currentUser.id)">Edit</button>

    <button ng-click="diveSitesShow.delete()" class="button is-danger" ng-if="main.isAuthenticated() && (diveSitesShow.site.creator.id === main.currentUser.id)">Delete</button>
  </div>
  <hr>
</div>
<div class="column is-10 is-offset-1 ">
  <div ng-repeat="log in diveSitesShow.site.logs">
    <div class="card has-shadow">
      <h2 class="title"><a ui-sref="logsShow({ id: log.id })">{{log.comments }}</a></h2>
      <p>hello</p>


    </div>
  </div>
</div>
