<!DOCTYPE html>
<div class="column is-half is-offset-one-quarter">
  <div>
    <form ng-submit="register.submit()" name="register.registerform">
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="text" placeholder="Username" id="username" name="username" ng-model="register.user.username">
          <span class="icon is-medium is-left">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="text" placeholder="First name" id="firstName" name="firstName" ng-model="register.user.first_name">
          <span class="icon is-medium is-left">
            <i class="fa fa-hand-pointer-o" aria-hidden="true"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="text" placeholder="Last name" id="lastName" name="lastName" ng-model="register.user.last_name">
          <span class="icon is-medium is-left">
            <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="text" placeholder="Email" id="email" name="email" ng-model="register.user.email">
          <span class="icon is-medium is-left">
            <i class="fa fa-at" aria-hidden="true"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="text" placeholder="Password" id="password" name="password" ng-model="register.user.password">
          <span class="icon is-medium is-left">
            <i class="fa fa-user-secret" aria-hidden="true"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="text" placeholder="Password Confirmation" id="PasswordConfirmation" name="passwordConfirmation" ng-model="register.user.password_confirmation">
          <span class="icon is-medium is-left">
            <i class="fa fa-exclamation" aria-hidden="true"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="text" placeholder="Diving Level" id="divingLevel" name="divingLevel" ng-model="register.user.diving_level">
          <span class="icon is-medium is-left">
            <i class="fa fa-line-chart" aria-hidden="true"></i>
          </span>
        </p>
      </div>

      <button class="button is-info is-fullwidth">Register</button>
    </form>
  </div>
</div>
