
// variables
$color1: #76b6c4;
$color2: #1da2d8;
$color3: #064273;
$color4: #7fcdff;
$color5: #def3f6;
$color6: #363942;
$color7: #FAFBF9;
$fontStack: 'Archivo Black', sans-serif;

html, body, main {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

h2 {
  width: 500px;
  display: block;
  margin: 0 auto !important;
  text-align: center;
}

body {
  background-color: white;
  position: relative;
  font-family: $fontStack !important;


  &.home {
    height: 100vh;
    background-image: url('../images/sea.jpg');
    background-size: 100%;
    background-position: 40% 50%;
    background-repeat: no-repeat;
    position: relative;
    h1 {
      font-size: 36px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      margin-top: 250px;
    }
    footer {
      display: none;
    }
  }
  &.diveSitesIndex {
    height: 100%;
  }

  &.diveSitesShow {
    height: 100%;
  }

  &.diveSitesNew {
    height: 100%;
  }
  &.diveSitesEdit {
    height: 100%;
  }
  &.usersShow {
    height: 100%;
  }
  &.logsEdit {
    height: 100%;
  }
  &.logsNew {
    height: 100%;
  }
  &.login {
    position: relative;
    footer {
      position: absolute;
      background-color: $color3;
      left: 0 ; right: 0; bottom: 0;
    }
  }

}

.card  {
  background-color: $color1 !important;
  padding: 10px;
  margin: 10px;
  img {
    background-size: cover;
  }
}

.card-image {
  margin: 20px 0;
}

.image {
  height: 300px;
  width: 400px;
  margin: 0 auto;
}


.navbar-logo {
  height: 40px;
  width: 40px;
  &:hover {
    background-color: $color5 !important;
    color: $color3 !important;
}
}

nav {
  font-family: 'Lobster', cursive;
  padding: 0;
  height: 80px !important;
  background-color: $color5 !important;
  img {
    margin-top: 5px;
    height: 50px
  }
  a{
    color: $color3 !important;
    font-size: 18px;
    &:hover {
      background-color: $color3 !important;
      color: white !important;
    }
    &.logo:hover {
        background-color: $color5 !important;
        color: $color3 !important;
    }
  }
  .active {
    font-weight: bold;
    font-size: 22px;
  }
  &a:hover {
    background-color: $color3 !important;
    color: white !important;
}
}

.map {
  background-color: lightgrey;
  height: 500px;
  margin: 20px auto;
  padding: 20px;
}

.is-4by3 {
  width: 300px;
}
